  <!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="slider">
          <ul id="slides1">
            <% Refinery::Sliders::Slider.all.each do |slider| %>
              <li><%= image_fu slider.photo, "560x440" %>
                <div class="banner">
                  <p class="font-1"><%= slider.titre %><span><%= slider.titre_suite %></span></p>
                  <p class="font-2"><%= slider.sous_titre %></p>
                  <a href="<%= slider.lien %>">En savoir plus</a>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="grid_12 top-4">
        <div class="box-shadow">
          <div class="wrap block-4">
            <div class="col-2">
              <h2 class="small-h2 p2">Acc&egrave;s<span class="color-1"> rapide</span></h2>
              <ul class="list-1">
                <li><a href="https://adoc.app.fft.fr/adoc/">R&eacute;server un court</a></li>
                <li><a href="/infos-pratiques/nous-contacter">Plan d'acc&egrave;s</a></li>
              </ul>
            </div>
            <div class="">
              <h2 class="small-h2 p2">Nos<span class="color-1"> partenaires</span></h2>
              <div class="small-slider">
                <ul id="slides2">
                  <% Refinery::Partenaires::Partenaire.all.each do |partenaire| %>
                  <li><%= image_fu partenaire.logo, "150x150" %>
                    <div class="banner">
                      <a href="<%= partenaire.lien %>"><%= partenaire.title %></a>
                      <p><%= raw partenaire.description %></p>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid_12 top-6">
        <div class="box-shadow">
          <div class="wrap block-4">
            <h2 class="small-h2 p2"><span class="color-1">Dernier</span> événement</h2>
            <% Refinery::Events::Event.last_one.each_with_index do |event, index| %>
            <div class="wrap box-1 <%= index > 0 ? 'top-2' : '' %>">
              <%= image_fu event.photo, "150x150", class: "img-border img-indent" %>
              <div class="extra-wrap">
                <p class="p2"><strong><%= event.title %></strong> </p>
                <p class="p2"><%= l event.date, format: :long %></p>
                <%= link_to "Plus d'informations", events_event_path(event) %>
              </div>
            </div>
           	<% end %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
<% content_for :javascripts do %>
  <script>Cufon.now();</script>
<% end %>