  <!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="slider">
          <ul id="slides1">
            <% Refinery::Sliders::Slider.all.each do |slider| %>
              <li><%= image_fu slider.photo, "560x440" %>
                <div class="banner">
                  <p class="font-1"><%= slider.titre %><span><%= slider.titre_suite %></span></p>
                  <p class="font-2"><%= slider.sous_titre %></p>
                  <a href="<%= slider.lien %>">En savoir plus</a>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="grid_12 top-4">
        <div class="box-shadow">
          <div class="wrap block-4">
            <div style="width:50%;float:left;">
              <h2 class="small-h2 p2"><span class="color-1">Dernier</span> événement</h2>
              <% Refinery::Events::Event.last_one.each_with_index do |event, index| %>
              <div class="wrap box-1 <%= index > 0 ? 'top-2' : '' %>">
                <%= image_fu event.photo, "150x150", class: "img-border img-indent" %>
                <div class="extra-wrap">
                  <p class="p2"><strong><%= event.title %></strong> </p>
                  <p class="p2"><%= l event.date, format: :long %></p>
                  <%= link_to "Plus d'informations", events_event_path(event) %>
                </div>
              </div>
             	<% end %>
            </div>
            <div style="width:50%;float:left;">
              <h2 class="small-h2 p2">Nos<span class="color-1"> partenaires</span></h2>
              <div class="small-slider">
                <ul id="slides2">
                  <% Refinery::Partenaires::Partenaire.all.each do |partenaire| %>
                  <li><%= image_fu partenaire.logo, "150x150" %>
                    <div class="banner">
                      <a href="<%= partenaire.lien %>"><%= partenaire.title %></a>
                      <p><%= raw partenaire.description %></p>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid_12 top-4">
        <div class="box-shadow">
          <div class="wrap">
            <div style="width:50%;float:left;">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FTCMennecy%2F&amp;width=450&amp;height=600&amp;colorscheme=dark&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false" scrolling="no" style="border: none; overflow: hidden; width: 450px; height: 600px;" allowtransparency="false"></iframe>
            </div>
            <div style="width:50%;float:left;">
              <a class="twitter-timeline" href="https://twitter.com/TCMennecy" data-widget-id="564072818435166208">Tweets de @TCMennecy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
