  <!--==============================content================================-->
  <section id="content">
    <div class="container_12">
      <div class="grid_12">
        <div class="slider">
          <ul class="items">
            <li><%= image_tag "slider-1.jpg" %>
              <div class="banner">
                <p class="font-1">Ecole<span>de tennis</span></p>
                <p class="font-2">Une des meilleures de toute la plan&egrave;te.</p>
                <a href="#">En savoir plus</a> </div>
            </li>
            <li><%= image_tag "slider-2.jpg" %>
              <div class="banner">
                <p class="font-1">Infos<span>Pratiques</span></p>
                <p class="font-2">Venir au club, Horaires d'ouverture, r&eacute;server un court, ...</p>
                <a href="#">En savoir plus</a> </div>
            </li>
            <li><%= image_tag "slider-3.jpg" %>
              <div class="banner">
                <p class="font-1">Nous <span>rejoindre</span></p>
                <p class="font-2">Comment m'inscrire, quelle est l'&eacute;quipe dirigeante, ...</p>
                <a href="#">En savoir plus</a> </div>
            </li>
          </ul>
          <div class="pagination">
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid_12 top-1">
        <div class="block-1 box-shadow">
          <%=raw @page.content_for(:body) %>
        </div>
      </div>
      <div class="grid_12 top-1">
        <div class="box-shadow">
          <div class="wrap block-2">
            <div class="col-1">
              <h2 class="p3"><span class="color-1">Derni&egrave;res</span> news</h2>
              <% Refinery::Events::Event.last_two.each_with_index do |event, index| %>
              <div class="wrap box-1 <%= index > 0 ? 'top-2' : '' %>">
                <%= image_fu event.photo, "150x150", class: "img-border img-indent" %>
                <div class="extra-wrap">
                  <p class="p2"><strong><%= event.title %></strong> </p>
                  <p class="p2"><%= l event.date, format: :long %></p>
                </div>
              </div>
             	<% end %>
            </div>
            <div class="col-2">
              <h2 class="p3"><span class="color-1">Acc&egrave;s</span> rapide</h2>
              <ul class="list-1">
                <li><a href="http://www.adoc.appli-fft.fr/adoc/loginMembre.do?method=read">Réserver une court</a></li>
                <li><a href="#">Infos pratiques</a></li>
                <li><a href="#">nous contacter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
<% content_for :javascripts do %>
  <script>Cufon.now();</script>
<% end %>